<IfModule mod_rewrite.c>
 
RewriteEngine on
 
RewriteCond %{REQUEST_FILENAME} !-d
 
RewriteCond %{REQUEST_FILENAME}.php -f
 
RewriteRule ^(.*)$ $1.php
 
RewriteRule ^reseller/index3$ /reseller/index3.php [L]

</IfModule>